<!-- <div class="jumbotron text-center">
  <h1>Matcha</h1>
  <p class="lead">Welcome to Matcha!</p>
  <div>
    <a class="btn btn-primary" routerLink="/register">Register</a>
    <a class="btn btn-primary" routerLink="/login">Login</a>
  </div>
</div> -->

<div class="jumbotron">
  <h1 class="display-3">Welcome to Matcha!</h1>
  <p class="lead">This is a simple dating app, try not to bother others too much, thanks!</p>
  <hr class="my-4">
  <p>Don't let the door hit you on your way out.</p>
  <button type="button" class="btn btn-primary" routerLink="/register" style="margin-right:8px;">Register</button>
  <button type="button" class="btn btn-primary" routerLink="/login">Login</button>
  <!-- <p class="lead"> -->
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    <!-- <div class="btn-group">
      <a class="btn btn-primary" routerLink="/register">Register</a>
      <a class="btn btn-primary" routerLink="/login">Login</a>
    </div> -->
  <!-- </p> -->
</div>
