* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* The body becomes the flexbox container/parent */
body {
    display: flex;
    flex-direction: column;
}

/* This works because left 0 and right 0 stretches the
container which allows flex to do its thing. This
is also a child to the parent flexbox container */
.header {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    height: 7.5%;
    background-color: mediumpurple;
    color: white;
}

/* making them parent flexboxes as well, by
using display: flex */
.header-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

/* This affects the header box divs which
actually contain the text */
.header-box div {
    flex-grow: 1;
}

.push-content {
    flex-shrink: 0;
    height: 7.5%;
}

/* .content is applied to flexbox children */
.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    padding-bottom: 0.2%;
    background-color: #EEEEEE;
    color: black;
}

/* .footer is applied to flexbox children */
.footer {
    flex-shrink: 0;
    background-color: mediumpurple;
    height: 7.5%;
    display: flex;
    color: white;
}

.footer-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.footer-box div {
    flex-grow: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
}

@media screen and (min-width: 824px) {
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 823px) {
    p {
        font-size: 13px;
    }
}

.header-box:hover {
    background-color: rgb(165, 131, 233);
}
