<div class="container" style="max-width: 700px;">
  <h2 class="page-header">Forgot Password</h2>
  <form (submit)="onPasswordResetSubmit()">
    <div class="form-group">
      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter your email address" [(ngModel)]="enteredEmail" name="enteredEmail">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <input type="submit" class="btn btn-dark" value="Reset">
  </form>
</div>
