<!-- Checking if user is true before displaying content. -->
<div *ngIf="user">
  <div class="container-fluid" style="max-width: 850px;">
    <div class="row">
      <div class="col-md-4">
        <h2 class="page-header text-center" style="margin-bottom: 15px;">{{ user.username }}</h2>
      </div>
      <div class="col-md-8">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center marginTopBot paddingTopBot paddingLeftRight border" style="margin-top: 0px;">
            <img class="avatar rounded-circle img-thumbnail" [src]="user.avatar">
        </div>
        <div class="card text-black mb-3 mx-auto">
          <div class="card-header text-center">Fame Rating</div>
          <div class="card-body">
            <div class="text-center">
              {{ user.fameRating }}
            </div>
          </div>
        </div>
        <div class="card text-black mb-3 mx-auto">
          <div class="card-header text-center">Interests</div>
          <div class="card-body">
            <div class="text-center">
              <h4 class="card-title">Tags</h4>
              <span class="badge badge-secondary tagMarginSides" *ngFor="let interest of user.interests">{{ interest }}</span>
            </div>
          </div>
        </div>
        <div class="text-center">
          <ul class="list-group" style="margin-bottom: 16px;">
            <li class="list-group-item">Age - {{ user.age }}</li>
            <li class="list-group-item">Gender - {{ user.gender }}</li>
            <li class="list-group-item">Sexuality - {{ user.sexualPreference }}</li>
          </ul>
        </div>
        <div class="card text-black mb-3 mx-auto">
          <div class="card-header text-center">Biography</div>
          <div class="card-body">
            <div class="text-center">
              {{ user.biography }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="text-center marginTopBot paddingTopBot paddingLeftRight border" style="margin-top: 0px; cursor: pointer;" data-toggle="modal" data-target="#myModal" (click)="setModalPictureSrc0()">
              <img class="img-fluid" [src]="user.pictures[0]">
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center marginTopBot paddingTopBot paddingLeftRight border" style="margin-top: 0px; cursor: pointer;" data-toggle="modal" data-target="#myModal" (click)="setModalPictureSrc1()">
              <img class="img-fluid" [src]="user.pictures[1]">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="text-center marginTopBot paddingTopBot paddingLeftRight border" style="margin-top: 0px; cursor: pointer;" data-toggle="modal" data-target="#myModal" (click)="setModalPictureSrc2()">
              <img class="img-fluid" [src]="user.pictures[2]">
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center marginTopBot paddingTopBot paddingLeftRight border" style="margin-top: 0px; cursor: pointer;" data-toggle="modal" data-target="#myModal" (click)="setModalPictureSrc3()">
              <img class="img-fluid" [src]="user.pictures[3]">
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Map here -->
          <div class="col-md-12 container" fxLayout="column">
            <div class="map" fxFlex="1 1 100%" #map>
              <agm-map [zoom]="11" [style.height.px]="map.offsetHeight" [latitude]="lat" [longitude]="long">
                <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <ul class="list-group" style="margin-bottom: 16px;">
            <li class="list-group-item">Age - {{ user.age }}</li>
            <li class="list-group-item">Gender - {{ user.gender }}</li>
            <li class="list-group-item">Sexuality - {{ user.sexualPreference }}</li>
          </ul>
        </div>
        <div class="card text-black mb-3 mx-auto">
          <div class="card-header text-center">Biography</div>
          <div class="card-body">
            <div class="text-center">
              {{ user.biography }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
      </div>
    </div> -->
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" style="border-bottom: 0px">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <img class="mx-auto d-block" [src]="modalPictureSrc">
        </div>

        <!-- Modal Spacer -->
        <div class="modal-header" style="border-bottom: 0px; padding-top: 28px; padding-bottom: 28px;">
        </div>

      </div>
    </div>
  </div>
</div>
