* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 500%; */
    /* position: absolute;
    top: 16%; */
}

a {
    color: inherit;
    text-decoration: none;
}

#body-push {
    height: 10%;
    width: 100%;
}

/* flexbox container */
.float-header {
    background: #ad7ac5;
    color: white;
    height: 10%;
    width: 100%;
    position: fixed;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.85vw;
    display: flex;
}

/* div's inside flexbox container, uppermost container */
.float-header div {
    flex-grow: 1;
}

/* flexbox items, these items contain div's inside them */
.float-header-box {
    display: flex;
    align-items: center;
}

.float-header-box:hover {
    background-color: #c295d6;
}


