<!-- Need to add ngIf directive here, for ngOnInit, async -->
<div *ngIf="user">
  <div class="container" style="max-width: 700px;">
    <h2 class="page-header">Edit Profile</h2>
    <form (submit)="onUpdateSubmit()" enctype="multipart/form-data">
    <!-- <form (submit)="onUpdateSubmit()"> -->
      <div class="form-group">
        <label for="fileInput">Add Profile Picture</label>
        <input type="file" class="form-control-file" id="fileInput" aria-describedby="fileHelp" accept=".jpg" (change)="selectAvatar($event)">
      </div>
      <div class="form-group">
        <label for="fileInput">Add Pictures</label>
        <input type="file" class="form-control-file" id="fileInput" aria-describedby="fileHelp" accept=".jpg" (change)="selectPictures($event)" multiple>
        <small id="fileHelp" class="form-text text-muted">Maximum 4 Pictures.</small>
      </div>
      <div class="form-group">
        <label for="genderSelect">Gender</label>
        <select class="form-control" [(ngModel)]="user.gender" name="user.gender" id="genderSelect">
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sexualitySelect">Sexuality</label>
        <select class="form-control" [(ngModel)]="user.sexualPreference" name="user.sexualPreference" id="sexualitySelect">
          <option>Heterosexual</option>
          <option>Homosexual</option>
          <option>Bisexual</option>
        </select>
      </div>
      <div class="form-group">
        <label for="biography">Biography</label>
        <textarea class="form-control" id="biography" rows="5" [(ngModel)]="user.biography" name="user.biography">
        </textarea>
      </div>
      <label for="interestButtons">Interests</label>
      <div class="form-group" id="interestButtons">
        <button id="tag0" type="button" [class.btn]="btn" [class.btn-secondary]="btnShow0" [class.marginTagButton]="marginTagButton" [class.btn-outline-secondary]="!btnShow0" (click)="toggleInterest($event)">Matcha</button>
        <button id="tag1" type="button" [class.btn]="btn" [class.btn-secondary]="btnShow1" [class.marginTagButton]="marginTagButton" [class.btn-outline-secondary]="!btnShow1" (click)="toggleInterest($event)">Sports</button>
        <button id="tag2" type="button" [class.btn]="btn" [class.btn-secondary]="btnShow2" [class.marginTagButton]="marginTagButton" [class.btn-outline-secondary]="!btnShow2" (click)="toggleInterest($event)">Art</button>
        <button id="tag3" type="button" [class.btn]="btn" [class.btn-secondary]="btnShow3" [class.marginTagButton]="marginTagButton" [class.btn-outline-secondary]="!btnShow3" (click)="toggleInterest($event)">Gaming</button>
        <button id="tag4" type="button" [class.btn]="btn" [class.btn-secondary]="btnShow4" [class.marginTagButton]="marginTagButton" [class.btn-outline-secondary]="!btnShow4" (click)="toggleInterest($event)">Traveling</button>
        <button id="tag5" type="button" [class.btn]="btn" [class.btn-secondary]="btnShow5" [class.marginTagButton]="marginTagButton" [class.btn-outline-secondary]="!btnShow5" (click)="toggleInterest($event)">Music</button>
        <button id="tag6" type="button" [class.btn]="btn" [class.btn-secondary]="btnShow6" [class.marginTagButton]="marginTagButton" [class.btn-outline-secondary]="!btnShow6" (click)="toggleInterest($event)">Cooking</button>
        <button id="tag7" type="button" [class.btn]="btn" [class.btn-secondary]="btnShow7" [class.marginTagButton]="marginTagButton" [class.btn-outline-secondary]="!btnShow7" (click)="toggleInterest($event)">Reading</button>
        <button id="tag8" type="button" [class.btn]="btn" [class.btn-secondary]="btnShow8" [class.marginTagButton]="marginTagButton" [class.btn-outline-secondary]="!btnShow8" (click)="toggleInterest($event)">Computers</button>
        <button id="tag9" type="button" [class.btn]="btn" [class.btn-secondary]="btnShow9" [class.marginTagButton]="marginTagButton" [class.btn-outline-secondary]="!btnShow9" (click)="toggleInterest($event)">Movies</button>
      </div>
      <!-- Radio Buttons -->
      <label for="radioButtons">Location</label>
      <fieldset class="form-group" id="radioButtons">
        <!-- <legend>Radio buttons</legend> -->
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="" (click)="onLocationKeep()">
            Don't Change My Location
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" (click)="onLocationFind()">
            Use My Current Location
          </label>
        </div>
        <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" (click)="onLocationSpecify()">
            I'll Specify My Location
          </label>
        </div>
      </fieldset>
      <!--  -->
      <label for="pickMap" *ngIf="specifyLocation">Pick Your Location</label>
      <div id="pickMap" class="form-group map" fxFlex="1 1 100%" #map *ngIf="specifyLocation">
        <agm-map [style.height.px]="map.offsetHeight" [latitude]="oldLat" [longitude]="oldLong" (mapClick)="onMapClick($event)">
          <agm-marker [latitude]="oldLat" [longitude]="oldLong"></agm-marker>
          <agm-marker [latitude]="newLat" [longitude]="newLong" iconUrl="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png"></agm-marker>
        </agm-map>
      </div>
      <input type="submit" class="btn btn-dark" value="Update">
    </form>
  </div>
</div>