/*
* {
	size: 100%;
	margin: auto;
}
*/

/*
.topBlock {
	width: 75%;
	height: auto;
	margin: auto;
	padding: 1%;
	position: relative;
	z-index: 1;
}
*/

.topBlock {
	width: 75%;
	margin: 2% 10% 0%;
	padding: 10px 10px 10px 10px;
	background-color: rgb(145, 145, 145);
	box-shadow: 10px 10px 5px black;
	border-radius: 10px;
}

#doft {
	width: 35%;
}

#glass {
	width: 16%;
	margin: -7% 0% 0% 70%
}

.page {
	width: 80%;
	margin: auto;
}

/*
#doft {
	display: inline-block;
	width: 35%;
}

#glass {
	width: 22%;
	z-index: 2;
	margin-left: 39%;
	position: absolute;
}
*/
